body {
  background-color: #f1faee;
  font-family: "Segoe UI", sans-serif;
  color: #1d3557;
}

/* Navbar */
.navbar-custom {
  background-color: #1d3557;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link,
.navbar-custom span,
.navbar-custom a {
  color: #ffffff !important;
  text-decoration: none;
}

/* Buttons */
.btn-primary-custom {
  background-color: #457b9d;
  border: none;
  color: #ffffff;
}

.btn-primary-custom:hover {
  background-color: #1d3557;
  color: #ffffff;
}
.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
}
/* Cards */
.card-custom {
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  color: #1d3557;
  padding: 1rem;
  margin-bottom: 1.5rem;
}
/*bellow is new stlye*/

/* Login Page */
.login-bg {
  background: linear-gradient(to right, #1d3557, #457b9d);
  height: 100vh;
}

.login-box {
  width: 400px;
  margin: auto;
  margin-top: 8%;
  padding: 30px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}
/* Cards */
.card-custom {
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  color: #1d3557;
}

/* Tables */
table.table {
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}

table.table th {
  background-color: #457b9d;
  color: #ffffff;
  text-align: center;
}

table.table td {
  color: #1d3557;
  text-align: center;
}

.table-hover tbody tr:hover {
  background-color: rgba(69, 123, 157, 0.1);
}

/* Inputs */
input.form-control {
  box-shadow: none;
  border: 1px solid #457b9d;
  border-radius: 5px;
}

input.form-control:focus {
  border-color: #1d3557;
  box-shadow: none;
  outline: none;
}

/* Alerts */
.alert-warning {
  background-color: #f4a261;
  color: #1d3557;
  border: none;
}
.alert-success {
  background-color: #a8dadc;
  color: #1d3557;
  border: none;
}

.alert-warning strong {
  color: #1d3557;
}

/* Status labels */
.status-up-to-date {
  color: #1d3557;
  background-color: #a8dadc;
  padding: 3px 8px;
  border-radius: 5px;
  font-weight: bold;
}

.status-needs-booster {
  color: #1d3557;
  background-color: #f4a261;
  padding: 3px 8px;
  border-radius: 5px;
  font-weight: bold;
}

.status-overdue {
  color: #ffffff;
  background-color: #e63946;
  padding: 3px 8px;
  border-radius: 5px;
  font-weight: bold;
}

/* Login Page */
.login-bg {
  background: linear-gradient(to right, #1d3557, #457b9d);
  height: 100vh;
}

.login-box {
  width: 400px;
  margin: auto;
  margin-top: 8%;
  padding: 30px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}
