body {
  background-color: #f1faee;
  font-family: "Segoe UI", sans-serif;
}

/* Navbar */
.navbar-custom {
  background-color: #1d3557;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link,
.navbar-custom span {
  color: #ffffff !important;
}

/* Buttons */
.btn-primary-custom {
  background-color: #457b9d;
  border: none;
}

.btn-primary-custom:hover {
  background-color: #1d3557;
}

/* Cards */
.card-custom {
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
/*bellow is new stlye*/

/* Login Page */
.login-bg {
  background: linear-gradient(to right, #1d3557, #457b9d);
  height: 100vh;
}

.login-box {
  width: 400px;
  margin: auto;
  margin-top: 8%;
  padding: 30px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}
/* Cards */
.card-custom {
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  color: #1d3557;
}

/* Tables */
table.table {
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}

table.table th {
  background-color: #457b9d;
  color: #ffffff;
}

table.table td {
  color: #1d3557;
}

.table-hover tbody tr:hover {
  background-color: rgba(69, 123, 157, 0.1);
}

/* Inputs */
input.form-control {
  box-shadow: none;
  border: 1px solid #457b9d;
}

input.form-control:focus {
  border-color: #1d3557;
  box-shadow: none;
  outline: none;
}

/* Alerts */
.alert-warning {
  background-color: #f4a261;
  color: #1d3557;
  border: none;
}

.alert-warning strong {
  color: #1d3557;
}

/* Login Page */
.login-bg {
  background: linear-gradient(to right, #1d3557, #457b9d);
  height: 100vh;
}

.login-box {
  width: 400px;
  margin: auto;
  margin-top: 8%;
  padding: 30px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}
