body {
  background-color: #f1faee;
  font-family: "Segoe UI", sans-serif;
}

/* Navbar */
.navbar-custom {
  background-color: #1d3557;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link,
.navbar-custom span {
  color: #ffffff !important;
}

/* Buttons */
.btn-primary-custom {
  background-color: #457b9d;
  border: none;
}

.btn-primary-custom:hover {
  background-color: #1d3557;
}

/* Cards */
.card-custom {
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Login Page */
.login-bg {
  background: linear-gradient(to right, #1d3557, #457b9d);
  height: 100vh;
}

.login-box {
  width: 400px;
  margin: auto;
  margin-top: 8%;
  padding: 30px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}
